# --------------------------------------------------
# Server Configuration
# --------------------------------------------------

PORT=3000



# --------------------------------------------------
# Email Configuration
# --------------------------------------------------

MAIL_TO=
MAIL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
